body {
    background-color: #0047AB;
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px white solid;
}

.card_container{
    font-family: Oxygen, sans-serif;
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 2rem;
    justify-content: center;
}

.card {
    background: #D4AF37;
    color: white;
    overflow: hidden;
    box-shadow: 0px 2px 20px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card_title {
    padding: 1rem;
    text-align: center;
}

.card_description {
    padding: 1rem;
}

.card button {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid transparent;
    color: #0d6efd;
    background: transparent;
    border-color: #0047AB;
    transition: background 200ms ease-in, color 200ms ease-in;
}


.card:hover {
    transform: scale(1.02);
}

.card_button:hover {
    background: #0047AB;
    color: white;
}